backend:
  name: github
  repo: nepalexplained/nepalexplained-site  # तपाईंको Repo name
  branch: main                                # तपाईंको branch

media_folder: "assets/images"
public_folder: "/assets/images"

collections:
  - name: "articles"
    label: "Articles"
    folder: "_articles"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
